body{
    background: url('rhysbg.png');
    background-color: aquamarine;
}
.section {
    padding: 1em;
    font-size: 1.1em;
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    margin-bottom: 1em;
}