h2{
    font-family: 'Shadows Into Light', cursive;  
}
img{
    text-align: center;
    width: 50%;
    height: 25%;
}
.top-heading{
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Merriweather';
    font-size: 4rem;
}
.top-title{
    margin-right: 200px;
    margin-top: 5px; 
    text-align: center;
}
.sub-title{
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 3.5rem;
}

.hr.top{
    border-bottom: 3 px black;
}
.middle-container1{
    display: flex;
    justify-content: center;
    vertical-align: middle;
}
.section {
    padding: 1em;
    font-size: 1.1em;
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    margin-bottom: 1em;
}
.is-marginless {
    margin: 0 !important;
}